.side-bar-nav {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  height: 100vh;
  width: 12rem;
  overflow: scroll -moz-scrollbars-none;
  padding-top: 6rem;
  padding-right: 1rem;
  border-right: 1px solid var(--icon-colors);
  transition: 0.4s ease;
  -ms-overflow-style: none;
  overflow-x: hidden;
  scrollbar-width: none;
}

.side-opt {
  display: flex;
  align-items: center;
  height: 10rem;
  padding: 2.5rem 1.8rem;
  justify-content: flex-start;
  column-gap: 2rem;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  transition: 0.4s ease;
}

.side-opt i {
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 999px;
  color: var(--icon-colors);
}

.side-opt i:hover {
  background-color: var(--side-bar-effect);
}

.side-bar-name {
  font-size: 2.5rem;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: none;
  overflow: hidden;
  transition: 0.4s ease;
}

.side-bar-nav.side-width {
  width: 20rem;
  overflow: scroll -moz-scrollbars-none;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.side-bar-nav::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.toggle-side-display-visible {
  transition: 0.4s ease;
  display: block;
  width: 7rem;
}

.active-side-opt:hover {
  background-color: var(--side-bar-effect);
}

.bg-change {
  background-color: var(--side-onClick-effect);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .side-bar-nav {
    width: 7rem;
  }
  .side-opt i {
    font-size: 2.5rem;
    padding: 5px;
  }
  .side-bar-nav.side-width {
    width: 18rem;
  }
}
