.filter-modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  opacity: 0.9;
  min-height: 100vh;
  background-color: var(--black);
  backdrop-filter: blur(5px);
  z-index: 222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-action-btn-contain {
  width: 100%;
  align-items: center;
}

.update-action-btn-container button {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  cursor: pointer;
}

.update-action-btn-container button:hover {
  background-color: var(--grey);
  color: white;
}

.label-container {
  display: flex;
  padding: 0.5rem 1rem;
  flex-direction: column;
  height: 50vh;
  overflow-y: auto;
  border: 1px solid var(--border-color);
}

.filter-container {
  column-gap: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.text-style {
  color: var(--border-color);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.filter-containers {
  border: 1px solid var(--border-color);
  padding: 1rem;
}
