@import "./index.css";

.App {
  text-align: center;
}

.whole-App {
  background-color: var(--bg-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.align-same-class {
  align-items: stretch;
  flex: auto;
}

.sidebar-container {
  width: fit-content;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
}

.page-container {
  transition: 0.4s ease;
  width: 100%;
  min-height: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .adjust-content-width {
    position: relative;
    transition: 0.4s ease;
    left: -11rem;
    width: 100%;
  }
  .align-same-class {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .whole-App {
    overflow: hidden;
  }
}
