:root {
  --redish: rgb(240, 104, 104);
  --organgish: rgb(255, 102, 0);
  --greenish: rgb(75, 226, 75);
  --cyan-color: darkcyan;
  --grey-general: rgb(131, 124, 124);

  --general-purpose-black-light: rgb(185, 86, 86);
  --general-purpose-black-dark: rgb(8, 8, 8);
  --side-bar-btn-hover: rgb(56, 56, 56);
  --side-bar-btn-focus: rgb(73, 73, 73);

  --bg-color-dark: rgb(32, 31, 31);
  --navbar-color-dark: #1a1717;
  --label-form-bg-dark: #2d2e30;
  --border-color-dark: rgb(110, 129, 127);
  --icon-colors-dark: #fff;
  --grey-text-dark: #babdbe;
  --lightest-grey-dark: rgb(74, 74, 74);
  --box-shawdow-dark: 0 0 10px 0px var(--general-purpose-black-dark);
  --side-bar-effect-dark: rgb(36, 48, 66);
  --side-onClick-effect-dark: rgb(72, 85, 105);

  --bg-color-light: rgb(255, 219, 219);
  --label-form-bg-light: rgb(255, 177, 177);
  --navbar-color-light: #ffffff;
  --border-color-light: rgb(255, 132, 132);
  --icon-colors-light: rgb(22, 22, 22);
  --lightest-grey-light: rgb(138, 119, 119);
  --grey-text-light: rgb(112, 75, 75);
  --box-shawdow-light: 0 0px 6px 0px var(--general-purpose-black-light);
  --side-bar-effect-light: var(--redish);
  --side-onClick-effect-light: var(--border-color-light);

  transition: 0.5s ease;
}

[app-theme="dark"] {
  --bg-color: var(--bg-color-dark);
  --navbar-color: var(--navbar-color-dark);
  --border-color: var(--border-color-dark);
  --icon-colors: var(--icon-colors-dark);
  --grey: var(--grey-text-dark);
  --side-bar-btn-hover: var(--side-bar-btn-hover-dark);
  --general-purpose-black: var(--general-purpose-black-dark);
  --box-shadow: var(--box-shawdow-dark);
  --label-form-bg: var(--label-form-bg-dark);
  --lightest-grey: var(--lightest-grey-dark);
  --side-bar-effect: var(--side-bar-effect-dark);
  --side-onClick-effect: var(--side-onClick-effect-dark);
  transition: 0.5s ease;
}

[app-theme="light"] {
  --bg-color: var(--bg-color-light);
  --navbar-color: var(--navbar-color-light);
  --label-form-bg: var(--label-form-bg-light);
  --border-color: var(--border-color-light);
  --icon-colors: var(--icon-colors-light);
  --grey: var(--grey-text-light);
  --lightest-grey: var(--lightest-grey-light);
  --general-purpose-black: var(--general-purpose-black-light);
  --side-bar-btn-hover: var(--side-bar-btn-hover-light);
  --box-shadow: var(--box-shawdow-light);
  --side-bar-effect: var(--side-bar-effect-light);
  --side-onClick-effect: var(--side-onClick-effect-light);
  transition: 0.5s ease;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grey-color {
  color: var(--grey-general);
}

.grey-color:hover {
  color: var(--icon-colors);
}

.Archive-clicked {
  color: var(--icon-colors);
}

.note-icon-container {
  position: relative;
  cursor: pointer;
}

.note-icon-details {
  position: absolute;
  bottom: -1;
  left: -50%;
  min-width: max-content;
  font-size: 1.5rem;
  display: none;
  padding: 5px;
  border-radius: 3rem;
  opacity: 0.8;
  z-index: 1;
}

.color-red {
  background-color: #ef4444;
}

.color-orange {
  background-color: #f97316;
}

.color-yellow {
  background-color: #eab308;
}

.color-green {
  background-color: #10b981;
}

.color-blue {
  background-color: #0ea5e9;
}

.color-default {
  background-color: var(--bg-color);
}

.note-icon-container:hover .note-icon-details {
  display: block;
  font-size: 2rem;
  background-color: var(--grey);
  color: var(--navbar-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--bg-color-dark);
    --navbar-color: var(--navbar-color-dark);
    --border-color: var(--border-color-dark);
    --label-form-bg: var(--label-form-bg-dark);
    --icon-colors: var(--icon-colors-dark);
    --grey: var(--grey-text-dark);
    --lightest-grey: var(--lightest-grey-dark);
    --general-purpose-black: var(--general-purpose-black-dark);
    --side-bar-btn-hover: var(--side-bar-btn-hover-dark);
    --box-shadow: var(--box-shawdow-dark);
    --side-bar-effect: var(--side-bar-effect-dark);
    --side-onClick-effect: var(--side-onClick-effect-dark);
    transition: 0.5s ease;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--bg-color-light);
    --navbar-color: var(--navbar-color-light);
    --border-color: var(--border-color-light);
    --general-purpose-black: var(--general-purpose-black-light);
    --icon-colors: var(--icon-colors-light);
    --grey: var(--grey-text-light);
    --lightest-grey: var(--lightest-grey-light);
    --side-bar-btn-hover: var(--side-bar-btn-hover-light);
    --box-shadow: var(--box-shawdow-light);
    --side-bar-effect: var(--side-bar-effect-light);
    --side-onClick-effect: var(--side-onClick-effect-light);
    --label-form-bg: var(--label-form-bg-light);
    transition: 0.5s ease;
  }
}
