.single-chip {
  display: flex;
  min-width: 4rem;
  padding: 5px;
  border-radius: 999px;
  border: 1px solid var(--border-color);
  color: var(--icon-colors);
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 1.5rem;
}

.single-chip i {
  font-size: 1.5rem;
  padding: 2px 3px 0 3px;
}

.chips-container {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.chip-note {
  max-width: 16rem;
  word-wrap: break-word;
}

@media screen and (max-width: 750px) {
  .chips-container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 450px) {
  .chip-note {
    max-width: 8rem;
    font-size: 1.2rem;
  }
}
